@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Roboto:wght@400;700&display=swap");

#login-body {
  background: linear-gradient(0deg, #fffbf0, #f4debd);
  background-attachment: fixed; /*both background attachment and repeat prevents gradient background from cutting off at the bottom*/
  background-repeat: no-repeat;
  font-family: Roboto;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 8rem 15%;
}

:root {
  --linkColor: #907c6c;
  --labelColor: #907c6c;
  --inputColor: #fffbf0;
  --submitColor: #907c6c;
  --submitHover: #7e5f46;
  --checkboxColor: #fffbf0;
  --checkColor: #000;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

a {
  color: var(--linkColor);
}

form {
  margin: 32px;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* label */
label {
  color: var(--labelColor);
}

/* first 2 labels */
form > label:first-child,
label:nth-child(n + 3) {
  font-weight: bold;
}

/* input */
input {
  padding: 8px;
  border: none;
  border-radius: 8px;
}

input[type="email"],
input[type="password"] {
  background-color: var(--inputColor);
  height: 48px;
  width: 320px;
  margin: 8px 0 16px 0;
}

input[type="email"]:focus,
input[type="password"]:focus {
  background-color: transparent;
  border-bottom: 1px solid #000;
  border-radius: 0;
  outline: none;
}

input[type="submit"] {
  color: #fff;
  background-color: var(--submitColor);
  font-size: 24px;
  font-weight: bold;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--submitHover);
}

/* checkbox */
.checkbox-group {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  margin: 8px 0 16px 0;
}

.checkbox {
  display: flex;
}

input[type="checkbox"] {
  background-color: var(--checkboxColor);
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  outline: none;
  display: flex;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.15s;
}

input[type="checkbox"]:after {
  font-family: "Font Awesome 6 Free";
  font-size: 14px;
  font-weight: 900;
  content: "\f00c";
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}

/* new user */
.new-user label {
  margin-right: 5px;
}

.sign-up {
  font-weight: bold;
}

/* border-line */
.border-line {
  font-weight: bold;
  overflow: hidden;
}

.border-line:before,
.border-line:after {
  height: 1px;
  width: 50%;
  content: "";
  border-bottom: 1px solid #000;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.border-line:before {
  right: 0.5em;
  margin-left: -50%;
}

.border-line:after {
  left: 0.5em;
  margin-right: -50%;
}

.border-line,
.new-user {
  text-align: center;
  margin: 16px 0;
}

/* social button */
.social-group {
  margin: 0 auto;
  padding: 8px;
  text-align: center;
}

#google-login,
#fb-login {
  margin: 8px 0 16px 0;
  display: grid;
  justify-content: center;
}
