#profile-body {
	background: white;
	font-family: 'Inter';
	padding: 15px;
}

.profile-nav {
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
	align-items: center;
	margin-bottom: 2rem;
}
.profile-header {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}

.profile-image {
	background-color: #6c757d;
	color: #000000;
	margin: 0px;
	padding: 0px;
	height: 162px;
	width: 162px;
	background-image: url('/public/refugee-profile-pic.png');
	box-shadow: 0px 0px 150px 50px rgba(0, 0, 0, 0.2), 0 6px 70px 60px rgba(0, 0, 0, 0.19);
	border-radius: 50%;
}

.profile-image-wrapper {
	display: flex;
	justify-content: center;
	margin: auto auto;
	max-width: 200px;
	margin-bottom: 10px;
	background: radial-gradient(50% 50% at 50% 50%, #8A7968 0%, rgba(196, 196, 196, 0) 100%);
}

.pronouns-style {
	color: #6c757d;
	font-weight: 100;
}

.edit-icon {
	position: relative;
	top: 10px;
	right: 40px;
	background: #8a7968;
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

.settings-icon {
	color: #000000;
	font-size: 30px;
}

.name-container {
	display: flex;
	justify-content: space-around;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
}

.location-wrapper {
	color: #6c757d;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}

.location-arrow {
	margin-right: 20px;
}

.age-para {
	display: flex;
	justify-content: center;
	color: #6c757d;
	margin-bottom: 20px;
	padding-top: 5px;
}

.btn-container {
	display: grid;
	justify-content: center;
	grid-template-columns: 90px 90px 90px;
	column-gap: 10px;
}

.button-refugee {
	background: #e5e5e5;
	border-radius: 10px;
	border: none;
	padding: 10px;
}

.btn-edit-profile {
	background: #8a7968;
	border: 2px solid #8a7968;
	padding: 20px;
	width: 161px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 15px;
	color: #ffff;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
}

.checkmark {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 306px;
	top: 585px;
	background: url('/public/checkmark.png');
	opacity: 0.8;
}

li::marker {
	text-align: center;
	font-size: 8px;
	padding-bottom: 10px;
}

.education-list {
	list-style-position: inside;
	padding-left: 30px;
	font-weight: 200;
	line-height: 2rem;
}

.edit-profile-container {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

